body
{
	background-image: url("mbackground.png");
	background-repeat: repeat;
	margin: auto;
	max-width: 1920px;
}
#nav
{
	position: fixed;
	top: 324px;
	height: 88px;
	background-color: white;
	width: 1920px;
}
#banner
{
	position: fixed;
	top: 0;
}
#menu1
{
	margin-top: 412px;
	font-size: 30px;
	font-family: Franklin Gothic Book;
	width: 1880px;
	padding: 20px;
	height: 430px;
	background-color: white;
}
a
{
	color: #4d0000;
}
p
{
	width: 350px;
	height: 100px;
	color: #4d0000;
	padding-left: 10px;
}
#menu2
{
	
	margin-top: 452px;
	margin-left: -20px;
	font-size: 30px;
	font-family: Franklin Gothic Book;
	width: 1880px;
	padding: 20px;
	height: 430px;
	background-color: white;
}
a
{
	color: #4d0000;
}
p
{
	width: 300px;
	height: 350px;
	color: #4d0000;
	padding-left: 10px;
}
#menu3
{
	
	margin-top: 60px;
	margin-left: -20px;
	font-size: 30px;
	font-family: Franklin Gothic Book;
	width: 1880px;
	padding: 20px;
	height: 430px;
	background-color: white;
}
a
{
	color: #4d0000;
}
p
{
	width: 350px;
	height: 100px;
	color: #4d0000;
	padding-left: 10px;
}
#menu4
{
	width: 1880px;
	height: 430px;
	padding: 20px;
	background-color: white;
	margin-left: -20px;
	margin-top: 60px;
}
#footer
 {
 	width: 1920px;
 	background-color: #ffe6e6;
 	font-size: 36px;
 	font-family: Franklin Gothic Book;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	font-variant: normal;
 	bottom: 0px;
	text-align: center;
	margin-top: 1600px;
 }
 a
 {
 	padding-right: 50px;
 }